
.collapse {
    display: none;
}

.ellipsize {
	display: inline-block;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.no_underline {
    text-decoration: none;
}

tbody > tr > td.selectedRunDetailERROR,
tbody > tr.selectedRunDetailERROR > td {
  background-color: #AD1625 !important;
  font-weight: bold;
}
tbody > tr > td.selectedRunDetailRUNNING ,
tbody > tr.selectedRunDetailRUNNING > td {
  background-color: #EFC100 !important;
  font-weight: bold;
    
}
tbody > tr > td.selectedRunDetailFINISHED,
tbody > tr.selectedRunDetailFINISHED > td {
  background-color: #007f6d !important;
  font-weight: 600;
}

.theme_light ul.expanded > li,
.theme_light li.active {
    background-color: #f0f2f4;
}

.type_link {
    cursor: pointer;	
}

.input_text {
	max-width: 21rem;
}
.input_narrow {
    max-width: 10rem;
}
.input_wide {
    max-width: 36rem;
}
.input_xwide {
    max-width: 50rem;
}

.theme_dark .button_primary.disabled,
.theme_dark .button_primary[disabled] {
    background-color: #41d6c3;
    cursor: initial;
    opacity: 0.5;
}
.theme_dark .button_secondary.disabled,
.theme_dark .button_secondary[disabled] {
    background-color: inherit;
    cursor: initial;
    opacity: 0.5;
}

.alert-container.warning .type_link {
	color: #007f6d;
} 

.display_inline {
    display: inline;
}
.form_label.display_inline {
    margin-right: 2rem;
}

#deleteData {
	margin-top: 30px;
	outline: none;
}
/* 
.alert-container.error {
    background: -webkit-repeating-linear-gradient(  145deg,  #FEA8A8,  #FEA8A8 1px,  #F60000 1px,  #F60000 3px);
    background: repeating-linear-gradient(  -55deg,  #FEA8A8,  #FEA8A8 1px,  #F60000 1px,  #F60000 3px);
    border-left: 2px solid #EF0000;
}
 */