<div class="button_group">

  <button type="button" class="button_primary buttonBarSave" ng-disabled="$root.savingpipe" ng-class="{'disabled':$root.savingpipe}"
      ng-click="$root.savingpipe = true;savePipe({'connect': connect, 'nextPageTab': nextPageTab })">
      Save {{nextPageTab && nextPageTab.length > 0 ? 'and continue' : ''}}
  </button>
      
  <button type="button" class="button_secondary buttonBarSkip" ng-click="goToNextPage(nextPageTab)">Skip</button>

  <p class="type_copy" id="savePipeBody"></p>
   
</div>