<section class="layout_section theme_light">

  <h1 class="type_heading"><mark class="type_mark">Create A New Pipe</mark></h1>

</section>

<section class="layout_section">
  
  <form name="newPipeForm" class="form_container" novalidate>
    <div class="form_standard">
      <div class="form_field" ng-class="{'has-error':newPipeForm.type.$invalid && (!newPipeForm.type.$pristine || newPipeForm.name.$valid)}">
          <label for="pipe-type" class="form_label">Type:</label>
          <select class="input_select" id="pipe-type" name="type" ng-model="creatingConnector.connectorId" required>
              <option ng-repeat="connector in connectors" value="{{connector.id}}">{{connector.label}}</option>
          </select>
          <p class="type_copy type_mark" ng-show="newPipeForm.type.$invalid && (!newPipeForm.type.$pristine || newPipeForm.name.$valid)">Type is required.</p>
      </div>
      <div class="form_field" ng-class="{'has-error':newPipeForm.name.$invalid && !newPipeForm.name.$pristine}">
          <label for="pipe-name" class="form_label">Name:</label>
          <input type="text" class="input_text" id="pipe-name" name="name" ng-model="creatingConnector.name" ng-change="createNewPipeNameSet()" required>
          <p class="type_copy type_mark" ng-show="newPipeForm.name.$error.required && !newPipeForm.name.$pristine">Name is required.</p>
          <p class="type_copy type_mark" ng-show="newPipeForm.name.$error.exists && !newPipeForm.name.$pristine">Name already exists.</p>
          <p class="type_copy type_mark" ng-show="newPipeForm.name.$error.invalid && !newPipeForm.name.$error.required && !newPipeForm.name.$pristine">Name is invalid.</p>
      </div>
      <div class="form_field">
          <label for="pipe-description" class="form_control-label">Description:</label>
          <textarea class="input_textarea" id="pipe-description" ng-model="creatingConnector.description"></textarea>
      </div>
    </div>
    
    <div class="form_standard">
      <div class="button_group">
        <button id="deletebutton" type="button" class="button_primary" ng-class="{'disabled':newPipeForm.$invalid || creatingpipe}"
            ng-click="creatingpipe = true;toggle('creatingPipe', true);createNewPipe(creatingConnector)"
            ng-disabled="newPipeForm.$invalid || creatingpipe">Save and continue</button>
        <button type="button" class="button_secondary" ng-click="$state.go('about')">Cancel</button>
      </div>
    </div>

  <div id="creatingPipe" tabindex="-1" role="dialog" class="collapse">
    <p class="type_copy">Creating your pipe. Please wait...</p>
  </div>
  
  </form>
</section>